# Decoding config for WSJ with char 15-gram and without lexicon
# Replace `[...]`, `[MODEL_DST]` with appropriate paths
--am=[MODEL_DST]/am/baseline_nov93dev.bin
--tokensdir=[MODEL_DST]/am
--tokens=tokens.lst
--lexicon=[MODEL_DST]/decoder/lexicon.lst
--lm=[MODEL_DST]/decoder/ngram_models/lm_wsj_kenlm_char_15g_pruned.bin
--datadir=[DATA_DST]/lists/
--test=nov92.lst
--sclite=[...]
--lmweight=3.031701978066803
--wordscore=1.2034654183212234
--beamsize=2000
--beamthreshold=50
--silweight=-1.1675904656158003
--nthread_decoder=8
--smearing=max
--show=true
--showletters=true
--decodertype=tkn
--uselexicon=false
