# Replace `[...]`, `[DATA_DST]`, `[MODEL_DST]` with appropriate paths
# for test-other (best params for dev-other)
--am=[...]/am_transformer_s2s_librispeech_dev_other.bin
--tokensdir=[MODEL_DST]/am
--tokens=librispeech-train-all-unigram-10000.tokens
--lexicon=[MODEL_DST]/decoder/decoder-unigram-10000-nbest10.lexicon
--lm=[MODEL_DST]/decoder/lm_librispeech_kenlm_wp_10k_6gram_pruning_000012.bin
--datadir=[DATA_DST]/lists
--test=test-other.lst
--uselexicon=false
--sclite=[...]
--decodertype=tkn
--lmtype=kenlm
--beamsize=50
--beamsizetoken=10
--beamthreshold=10
--nthread_decoder=1
--show
--showletters
--lmweight=0.60335655666178
--eosscore=-3.6613151955052
