# Replace `[...]`, `[DATA_DST]`, `[MODEL_DST]` with appropriate paths
# for test-clean (best params for dev-clean)
--am=[...]/am_tds_ctc_librispeech_dev_clean.bin
--tokensdir=[MODEL_DST]/am
--tokens=librispeech-train-all-unigram-10000.tokens
--lexicon=[MODEL_DST]/decoder/decoder-unigram-10000-nbest10.lexicon
--lm=[MODEL_DST]/decoder/lm_librispeech_kenlm_word_4g_200kvocab.bin
--datadir=[DATA_DST]/lists
--test=test-clean.lst
--uselexicon=true
--sclite=[...]
--decodertype=wrd
--lmtype=kenlm
--silscore=0
--beamsize=500
--beamsizetoken=100
--beamthreshold=100
--nthread_decoder=8
--smearing=max
--show
--showletters
--lmweight=1.3953418015025
--wordscore=1.0855012721854
