# Decoding config for Librispeech using Gated ConvNets
# Replace `[...]`, `[DATA_DST]`, `[MODEL_DST]` with appropriate paths
# for test-other (best params for dev-other)
--am=[...]/001_model_dev-clean.bin
--tokensdir=[MODEL_DST]/am
--tokens=tokens.txt
--lexicon=[MODEL_DST]/decoder/lexicon.txt
--lm=[MODEL_DST]/decoder/4-gram.bin
--datadir=[DATA_DST]/lists
--test=test-clean.lst
--sclite=[...]
--lmweight=2.5
--wordscore=1
--beamsize=2500
--beamthreshold=25
--silweight=-0.4
--nthread_decoder=8
--smearing=max
--show=true
