# Decoding config for Librispeech clean part with char 20-gram and lexicon
# Replace `[...]`, `[MODEL_DST]` with appropriate paths
--am=[MODEL_DST]/am/baseline_dev-clean+other.bin
--tokensdir=[MODEL_DST]/am
--tokens=tokens.lst
--lexicon=[MODEL_DST]/decoder/lexicon.lst
--lm=[MODEL_DST]/decoder/ngram_models/lm_librispeech_kenlm_char_20g_pruned.bin
--datadir=[DATA_DST]/lists/
--test=test-clean.lst
--sclite=[...]
--lmweight=2.303092410731753
--wordscore=2.3981070573976386
--beamsize=5000
--beamthreshold=50
--silweight=-0.015791865738486344
--nthread_decoder=8
--smearing=max
--show=true
--showletters=true
--decodertype=tkn
