alembic==1.3.2
bsddb3==6.2.6
certifi==2019.11.28
chardet==3.0.4
coverage==5.0
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
future==0.18.2
fuzzywuzzy==0.17.0
Gutenberg==0.8.0
idna==2.8
isodate==0.6.0
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
nose2==0.9.1
num2words==0.5.10
pybktree==1.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.5
python-dateutil==2.8.1
python-editor==1.0.4
python-Levenshtein==0.12.0
rdflib==4.2.2
rdflib-sqlalchemy==0.4.0
requests==2.22.0
responses==0.10.8
roman==3.2
six==1.13.0
SPARQLWrapper==1.8.4
SQLAlchemy==1.3.12
urllib3==1.25.7
